html {
  height: 100%;
}

body {
  min-height: 100%;
}

.apexcharts-canvas {
  position: absolute;
  margin: 0 auto;
}

#main {
  text-align: center;
  width: 100%;
  height: 100%;
}

input[type='radio'] {
  visibility: hidden;
}